.navbar {
  background: #4f7395
}

.navbar-brand{
  padding:10px
}

.nav-li{
  background:#faf6ed
}

body{
  padding-top:75px
}

.content-section {
  background: #f4f4f4;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

.article-content {
  font-weight: bold;
  font-weight:bold;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.patient{
  padding: 10px 20px;
  /* border: 1px solid #dddddd; */
  background:white;
  border-radius: 10px;
}

.patient-info {
  padding:5px
}

select {
  margin-bottom:10px
}