.navbar {
  background: #4f7395;
  height: 75px;
}

.nav-test {
  display: inline-block;
  margin:0px;
  padding:0px;
}

.drchrono-logo {
  margin:20px;
  display:inline-block;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  background:#FFFFFF;
  display: inline-block;
  padding:20px;
}

.nav-link:hover {
  cursor:pointer;
  background:#f4f4f4;
}

body{
  padding-top:100px
}

.content-section {
  background: #f4f4f4;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

.article-content {
  font-weight: bold;
  font-weight:bold;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.patient{
  padding: 10px 20px;
  border: 1px solid #dddddd;
  background:#FFFFFF;
  border-radius: 10px;
}

.patient-info {
  padding:5px
}

select {
  margin-bottom:10px
}

.login{
  padding:20px;
  font-size: 24px;
}

.media{
  padding:50px
}