{% extends "./base.html" %}
{% block title %}Appointments{% endblock %}
{% block body %}
  {% for appointment in appointments %}

  <article class="content-section">
      <div>
          <div class="article-metadata">
              <small class="text-muted">Scheduled Time: {{ appointment.scheduled_time }}</small>
          </div>
          <div>
              <h1 class="article-content">Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h1>
          </div>
          <div class="container">
              <div class="row patient-info">
                  <div class="col-sm-4">
                    <span class="article-content">Appointment Duration: </span>
                    <span>{{ appointment.duration }} minutes</span>
                  </div>
                  <div class="col-sm-4">
                    <span class="article-content">Exam Room: </span>
                    <span>{{ appointment.exam_room }}</span>
                  </div>
                  <div class="col-sm-4">
                        <span class="article-content">Status: </span>
                        {% if appointment.status == '' %}
                            <span>Patient has not checked in yet</span>
                        {% else %} 
                            <span> {{ appointment.status }}</span>
                        {% endif %}
                  </div>
              </div>
              <div class="row patient-info">
                  <div class="col-sm-4">
                      <span class="article-content">Time Patient has been waiting for: </span>
                      <span>0 Minutes</span>
                  </div>
                  <div class="col-sm-4">
                      <span class="article-content">Last Updated At: </span>
                      <span>{{ appointment.updated_at }}</span>
                  </div>
                  <div class="col-sm-4">
                      <form action="{% url 'update_status' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="status" value="Checked In"></input>  
                          <div class="form-group">
                            <button class="btn btn-outline-info btn-primary" type="submit" name="appointment" value="{{ appointment.id }}">Check In</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>    
      </div>
  </article>
  {% endfor %}
{% endblock body %}