{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_header %}{% endblock %}

    {#Bootstrap -- quick and easy #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'setup' %}">
                <img src="../static/assets/drchrono icon.png" width="32" height="32" alt="">
            </a>
            <ul class="nav nav-pills">
                <li role="presentation" class="nav-li"><a href="{% url 'setup' %}">Doctor Dashboard</a></li>
                <li role="presentation" class="nav-li"><a href="{% url 'checkin' %}">Patient Checkin</a></li>
                <li role="presentation" class="nav-li"><a href="{% url 'history' %}">History Data</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>