{% extends "./base.html" %}
{% block title %}Welcome to drchrono{% endblock %}
{% block body %}
    <h1>Welcome {{ doctor.first_name }} {{ doctor.last_name }}</h1>
    <!-- {{ doctor }} -->

    {% for appointment in appointments %}
        {{ appointment }}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <small class="text-muted">Scheduled Time: {{ appointment.scheduled_time }}</small>
            </div>
            <h2 class="article-title" href="#">Patient: {{ appointment.patient }}</h2>
            <p class="mr-2" href="#">Duration: {{ appointment.duration }}</p>
            <p class="article-content">Updated At: {{ appointment.updated_at }}</p>
            <p class="article-content">Status: {{ appointment.status }}</p>
            <p class="article-content">Notes: {{ appointment.notes }}</p>
            <p class="article-content">Exam Room: {{ appointment.exam_room }}</p>
        </div>
        </article>
    {% endfor %}

    <a href="{% url 'checkin' %}">Enter Kiosk Mode</a>
{% endblock body %}