{% extends "./base.html" %}
{% block title %}Welcome to drchrono{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Welcome, {{ doctor.first_name }} {{ doctor.last_name }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>The average patient wait time today is: {{ avg_wait_time_today }} minutes</h3>
            </div>
            <div class = "col-sm-4">
                <button value="unseen"><a href="{% url 'setup' %}?query=unseen">Appointments To See</a></button>
                <button value="seen"><a href="{% url 'setup' %}?query=seen">Appointments Seen</a></button>
                <button><a href="{% url 'setup' %}">All Appointments</a></button>
            </div>
        </div>
    </div>
    
    
    {% for appointment in appointments %}
    <article class="content-section">
        <div>
            <div class="article-metadata">
                <small class="text-muted">Scheduled Time: {{ appointment.scheduled_time }}</small>
            </div>
            <div>
                <h1 class="article-content patient">Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h1>
            </div>
            <div class="container">
                <div class="row patient-info">
                    <div class="col-sm-4">
                        <span class="article-content">Appointment Duration: </span>
                        <span>{{ appointment.duration }} minutes</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="article-content">Exam Room: </span>
                        <span>{{ appointment.exam_room }}</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="article-content">Status: </span>
                        {% if appointment.status == '' %}
                            <span>Patient has not checked in yet</span>
                        {% else %} 
                            <span> {{ appointment.status }}</span>
                        {% endif %}  
                    </div>
                </div>
                <div class="row patient-info">
                    <div class="col-sm-4">
                        {% if appointment.status == 'Checked In' %}
                            <span class="article-content">Time Patient has been waiting for: </span>
                            <span>{{ appointment.get_time_waiting }}</span>
                        {% elif appointment.status == 'In Session' or appointment.status == 'Complete' %}
                            <span class="article-content">Time patient waited before being seen: </span>
                            <span>{{ appointment.get_time_waiting }}</span>
                        {% elif appointment.status == '' %}
                            <span class="article-content">Time Patient has been waiting for: </span>
                            <span>0 Minutes</span>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <span class="article-content">Last Updated At: </span>
                        <span>{{ appointment.updated_at }}</span>
                    </div>
                    <div class="col-sm-4">
                        <form action="{% url 'setup' %}" method="POST">
                            {% csrf_token %}
                            <select name="status">
                                <option value="">Select Status Update</option>
                                <option value="Checked In">Checked In</option>
                                <option value="In Session">In Session</option>
                                <option value="Complete">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                            <div class="form-group">
                                <button class="btn btn-outline-info btn-primary" type="submit" name="appointment" value="{{ appointment.id }}">Update Status</button>
                            </div>
                        </form>
                    </div>
                </div>
                  
                
            </div>    
        </div>
    </article>
        
    {% endfor %}
{% endblock body %}